<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA14GRleB-eJpSJN24OgEHqq9ux02sCTt0</string>
	<key>GCM_SENDER_ID</key>
	<string>415302518477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.statemanagement</string>
	<key>PROJECT_ID</key>
	<string>mainproject-6f254</string>
	<key>STORAGE_BUCKET</key>
	<string>mainproject-6f254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415302518477:ios:ec05f70095e721eaa44b84</string>
</dict>
</plist>